* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  padding: 1em 2em;
  background-image: url("../../img/background.png");
  background-size: cover;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.208);
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-content .fa-solid.fa-user.fa-2x {
  display: none;
}
.navbar-content i.fa-solid.fa-bars.fa-2x {
  color: #d9d9d9;
  transition: animation 0.4s ease;
}
.navbar-content i.fa-solid.fa-bars.fa-2x:hover {
  animation: hoverAnimaMenu 0.4s infinite alternate;
}
.navbar-content span {
  background-image: url("../img/background-text.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-family: "Poppins", san-serif;
  font-weight: bold;
  font-size: 1.3em;
}
.navbar-content a {
  background-color: #d9d9d9;
  box-shadow: 0px 0px 5px black;
  border-radius: 8px;
  padding: 0.4em 0.6em;
  transition: animation 0.3s ease;
}
.navbar-content a:hover {
  animation: hoverAnima 0.4s infinite alternate;
}
.navbar-content img {
  max-width: 25em;
}

@keyframes hoverAnimaMenu {
  from {
    transform: scale(1);
    color: #d9d9d9;
  }
  to {
    transform: scale(1.1);
    color: #fff;
  }
}
@keyframes hoverAnima {
  from {
    transform: scale(1);
    box-shadow: 0px 0px 5px black;
  }
  to {
    transform: scale(1.1);
    box-shadow: 0px 0px 7px #C5932D;
  }
}
@media screen and (max-width: 768px) {
  .navbar-content a {
    display: none;
  }
  .navbar-content i {
    font-size: 1.6em;
  }
  .navbar-content img {
    width: 20em;
  }
  .navbar-content i.fa-solid.fa-user.fa-2x {
    display: flex;
    background-image: url("../img/background-text.png");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
  .navbar-content i.fa-solid.fa-user.fa-2x:hover {
    animation: hoverAnimaLogin 0.4s infinite alternate;
  }
  @keyframes hoverAnimaLogin {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
}
@media screen and (max-width: 426px) {
  .navbar {
    padding: 1em 1em;
  }
  .navbar-content i.fa-solid.fa-user.fa-2x {
    font-size: 1.2em;
  }
  .navbar-content i.fa-solid.fa-bars.fa-2x {
    font-size: 1.2em;
  }
  .navbar-content img {
    width: 15em;
  }
}
@media screen and (max-width: 325px) {
  .navbar-content i.fa-solid.fa-user.fa-2x {
    display: none;
  }
}
.home {
  width: 100%;
  height: 100vh;
  font-family: "Sedan", serif;
  overflow: hidden;
}

.home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em 3em;
  background-image: url("../../img/banner-home.png");
  background-size: cover;
  background-position: 100% 50%;
}
.home-content h1 {
  width: 50%;
  font-size: 3em;
  background-image: linear-gradient(135deg, #C5932D 0%, #fff 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.home-content p {
  color: #fff;
  width: 50%;
  font-size: 2em;
  position: relative;
}
.home-content .style-modules {
  background-image: url("../../img/background-text.png");
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.home-content a {
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: #d9d9d9;
  box-shadow: 0px 0px 5px black;
  border-radius: 8px;
  padding: 0.4em 0.6em;
  animation: hoverAnima 0.4s infinite alternate;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .home-content h1 {
    font-size: 2.5em;
  }
  .home-content p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 768px) {
  .home-content {
    background-position: 5%;
    padding: 3em 1.5em;
  }
  .home-content h1 {
    width: 65%;
  }
}
@media screen and (max-width: 426px) {
  .home-content {
    background-image: url("../../img/banner-home-pq.png");
    background-position: 60%;
  }
  .home-content h1 {
    font-size: 2em;
    width: 100%;
  }
  .home-content p {
    width: 100%;
    font-size: 1.3em;
  }
  .home-content a {
    font-size: 1.2em;
  }
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 2em;
}
#about h2 {
  font-size: 2.5em;
  color: #C5932D;
  font-weight: bold;
}
#about .modules {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2em;
  margin-bottom: 3em;
}
#about .modules .swiper {
  width: 100%;
  height: 100%;
}
#about .modules .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
}
#about .modules .swiper-slide img {
  display: block;
  width: 432px;
  height: 532px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  #about .modules {
    flex-wrap: wrap;
    justify-content: center;
  }
  #about .modules .swiper {
    width: 80%;
  }
}
@media screen and (max-width: 426px) {
  #about h2 {
    text-align: center;
    font-size: 2em;
  }
  #about .modules {
    margin: auto;
  }
  #about .modules .swiper {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  #about h2 {
    font-size: 2em;
  }
  #about .module p {
    font-size: 1em;
  }
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  min-width: 425px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}/*# sourceMappingURL=style.css.map */