
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100vh;
    gap: 2em;
    
    // margin-top: 1em;

    // border: 0.1em solid red;
    h2{
        font-size: 2.5em;
        color: $yellow-dark;
        font-weight: bold;
    }

    .modules{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 2em;
        margin-bottom: 3em;
    
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em 0;
        }

        .swiper-slide img {
            display: block;
            width: 432px;
            height: 532px;
            object-fit: cover;
            cursor: pointer;
            max-width: 100%;
        }
    }
    

    @media screen and (max-width: 768px) {
        .modules{
            flex-wrap: wrap;
            justify-content: center;

            .swiper{
                width: 80%;
            }   
        }
    
    }
    
    @media screen and (max-width: 426px) {

        h2{
            text-align: center;
            font-size: 2em;
        }
        .modules{
            margin:auto;
            .swiper{
                width: 100%;
            }


        }
    }

    @media screen and (max-width: 320px) {
        h2{
            font-size: 2em;
        }

        .module{
            p{
                font-size: 1em;
            }
        }
    }
}



