
$white-normal: #fff;
$white-dark: #d9d9d9;

$yellow-dark: #C5932D;
$yellow-light: #CFBC28;

$blue-dark: #3A7C98;

$sedan: 'Sedan', serif;
$sedan-sc: 'Sedan SC', serif;
$poppins: 'Poppins', san-serif;